.table-content {
    height: 300px;
    width: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.table-content::-webkit-scrollbar {
    -webkit-appearance: none;
}

.table-content::-webkit-scrollbar:vertical {
    width: 10px;
}

.table-content::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}